[2013-01-08 10:07] MacKP opened #1 "Dateiauswahl"
Wenn schon eine Datei ausgewählt wurde, sollte angezeigt werden, welche Datei. Wird bisher erst dann angezeigt, wenn man 'Auswahl ändern' anwählt.

[2013-02-06 00:48] #1 closed, assigned to nobody

[2013-03-27 16:17] tim-bec opened #4 "Q: RAW Ausgabe von ausgewählten Ordnern und deren Kindelemente"
Wähle ich einen Ordner aus, wirft mir 'print_r($this->data);'  ungefähr folgendes Array aus:

[code]

sollten hier nicht, wenn ein Ordner ausgewählt ist, die Kindelemente in einem weiteren Array aufgelistet sein, sodass ich mir diese mit foreach holen kann?
Markiere ich Objekte einzeln werden die in [mediaDetailPicGalerie] auch einzeln aufgelistet.

Attribut ist wie folgt aufgebaut: angepasster Da

[2013-05-18 22:19] paulpflug opened #6 "Dateien über GET exponiert unabhängig was im Template passiert"
In meinen Augen sollten die Dateien erst serviert werden wenn im Template wirklich der Link benutzt wird.

[2013-06-12 20:59] #4 closed, assigned to nobody

[2013-06-19 22:03] andreasisaak opened #7 "Definition des alt und title Tags im Backend"
Es wäre hilfreich wenn man im File Attribut für das angelegte Attribut festlegen kann welche anderen Attribute genutzt werden sollen um die alt und title Tags zu befüllen. Dann spart man sich an der Stelle die Templatearbeit.

Wir haben bereits damit angefangen und konzeptionell liegt da auch was vor, man müsste das nur noch finalisieren!

[2013-06-28 15:24] timmey123 opened #8 "Sortierung der Dateien über das Backend steuern"
Hallo,

ich denke, dass es schön wäre, wenn die Möglichkeit bestehen würde, seine Files direkt im BE zu sortieren. Sprich nach einer Mehrfachauswahl von Bildern die Reihenfolge selbst festlegen zu können - ohne den Umweg der meta.txt.

Wäre das realisierbar?

LG

[2013-07-02 14:32] tim-bec opened #9 "Fehler bei Dateien mit Sonderzeichen"
Hat eine Datei ein Sonderzeichen im Namen wird ein Fehler wie dieser ausgeworfen:

<br><strong>Warning</strong>: getimagesize(**/tl_files/alos/content/HARDWARE/Canon/dr_g1100 g1130.jpg): failed to open stream: No such file or directory in <strong>…/system/modules/metamodelsattribute_file/MetaModelAttributeFile.php</strong> on line <strong>167</strong>

<pre style="margin:11px 0 0">
#0 [internal fu

[2013-07-17 06:34] lindesbs opened #10 "Dateien loeschen bei DataRow loeschen"
Sinnvoll bei MMs mit Bildern / Anhaengen. Wenn der Datensatz geloescht wird, sollen auch die Dateien geloescht werden.

Soll ich einen PR machen ?

[2013-08-30 07:47] tniebergall opened #11 "Contao3 - files.php not found"
Klickt man auf das Icon neben "Wurzelordner (Root) angeben" erhält man in dem Pop-Up die Meldung "The requested URL /contao/files.php was not found on this server." nutzt man "Auswahl ändern" erscheint der Contao Filetree.

[2013-08-30 12:59] #11 closed, assigned to nobody

[2013-09-17 19:14] #10 closed, assigned to nobody

[2013-09-30 14:39] Munsio opened #12 "Contao3 - Datei Auswahl - Wurzelverzeichnis"
Nach dem Auswählen eines Wurzelverzeichnis erscheint in der BE Ansicht ein leeres overlay Fenster

[2013-09-30 15:52] #12 closed, assigned to nobody

[2013-10-18 19:54] palmi opened #14 "Mehrfachauswahl"
mit Version 3.0 geht nicht
wird immer nur die erste Datei gespeichert

[2013-10-22 18:43] #14 closed, assigned to nobody

[2013-10-27 16:39] ghost opened #15 "data-lightbox-Attribute nicht unique"
Wenn man in einem MetaModel zweimal das Attribute-File als Einzelauswahl mit Lightbox verwendet, kann man durch die beiden Attribute mit der Lightbox navigieren. Dies resultiert dadurch das für das data-lightbox-Attribute nur der Tablename und die Datensatz-ID genutzt werden: https://github.com/MetaModels/attribute_file/blob/master/src/system/modules/metamodelsattribute_file/MetaModelAttributeFile

[2013-11-16 09:31] dmolineus opened #16 "Dateiauswahl schläg fehl wenn Datensatz noch nicht erstellt"
Möchte man eine Datei auswählen (mit dem FileTree), schlägt die Auswahl fehl, wenn der Datensatz noch nicht gespeichert wurde.

[2013-12-06 11:50] tniebergall opened #18 "Contao 3.2 - Kein Wert für ['html5']"
Bei der Ausgabe der Template Variablen ist in ['html5'] des Eintrags kein Wert hinterlegt.

[2013-12-13 10:07] #18 closed, assigned to nobody

[2013-12-21 23:18] #7 closed, assigned to nobody

[2014-01-25 17:32] denniserdmann opened #19 "Dateidownload gibt Dateiendungen mit 4 Buchstaben (docx) nicht aus"
Wenn man mehr als eine Datei auswählt, wird nur die erste Datei ausgegeben.

In `[data][html][…]` wird auch nur der Link für die erste Datei generiert.
In `[data][raw][…][path]` werden aber beide Dateien aufgeführt.

[2014-01-25 17:35] denniserdmann opened #20 "Dateiausgabe zeigt keine Icons"
Der Pfad für die Dateiicons bezieht sich auf `/system/themes/default/images/`müsste jedoch `assets/contao/images/`. Habe leider nicht gefunden, wo ich den Pfad anpassen kann.

[2014-01-25 17:47] #20 closed, assigned to nobody

[2014-02-14 14:30] psren opened #21 "FileSelectorWidget incompatible with FileSelector"
"Use filepicker without filetree"

If I now add an entry I get the following error in the Lightbox:

[code]

[2014-03-08 15:50] #19 closed, assigned to nobody

[2014-03-08 15:50] #15 closed, assigned to nobody

[2014-03-08 15:54] #9 closed, assigned to stefanheimes

[2014-03-09 09:53] AgentCT opened #22 "File.php - Illegal string offset 'value'"
Nach dem Speichern eines Datensatzes erhalte ich folgende Fehlermeldung:

<code>
Warning: Illegal string offset 'value' in composer/vendor/metamodels/attribute_file/src/system/modules/metamodelsattribute_file/MetaModels/Attribute/File/File.php on line 215
#0 composer/vendor/metamodels/attribute_file/src/system/modules/metamodelsattribute_file/MetaModels/Attribute/File/File.php(215): __error(2, 'Il

[2014-03-11 11:34] andreasisaak opened #23 "Die Eingabe der erlaubten Dateitypen ist missverständlich"
Aufgrund des Textes könnte man davon ausgehen das man dort alle verfügbaren Dateitypen eingeben muss. Dabei kann man diese aber noch weiter einschränken und es wird immer die Liste von Contao verwendet.

Man sollte den Beschreibungstext anpassen.

[2014-03-13 23:12] #22 closed, assigned to nobody

[2014-03-16 10:11] #16 closed, assigned to nobody

[2014-03-26 10:21] paolobattistella opened #25 "Don't load FileSelectorWidget for a file attribute"
Don't load FileSelectorWidget for a file attribute on Contao 3.2.7

Fatal error: Class 'MetaModels\Widgets\FileSelectorWidget' not found in TL_ROOT/contao/file.php on line 103

[2014-04-24 10:34] Messa1 opened #26 "JQuery Lightbox class fehlt"
Wenn bei dem Attribut "file" Lightbox gewählt ist fehlt bei der Ausgabe im HTML Code für JQuery die class="cboxElement".

So wäre es richtig:

[code]

[2014-04-24 13:12] #26 closed, assigned to nobody

[2014-04-29 13:06] jgrotstabel opened #27 "Bei mehreren Bilder Lightbox Funktionen wie in der Bildergalerie"
Hey,

wenn man mit dem File Attribute und Bildern arbeitet, funktioniert ja jetzt ohne Probleme die Lightbox für Einzelbilder.
Super wäre natürlich wenn die Lightbox merkt wenn mehrer Bild auf der entsprechenden Unterseite sind. Also Contao Like, wenn man mehrere Bilder auf einer Unterseite hat, kann man in der Lightbox vor und zurück navigieren.

Beste Grüße
Jens

[2014-05-21 09:33] ghost opened #28 "Deprecated Meldung durch magic methoden"
In dieser Zeile https://github.com/MetaModels/attribute_file/blob/contao3/src/system/modules/metamodelsattribute_file/MetaModels/Attribute/File/File.php#L263 wird per maig method auf die ID des RenderSettings zugegriffen. Dies führt bei aktiviertem DebugModus zu einer Fehlermeldung.

Korrekterweise müsste die Zeile so aussehen: `$objToolbox->setLightboxId($this->getMetaModel()->getTableName() . '.

[2014-05-26 12:43] reneaye opened #29 "Eltern-Kind Beziehung und FileMounts"
Ich habe zwei MetaModels in Eltern-Kind-Beziehung. Wenn in der Kind-Tabelle ein file_attribut angelegt ist und gleichzeitig in den Benutzergruppenrechten irgendein FileMount eingetragen ist, kann ich die Erfassung im BE der Kind-Tabelle nicht öffen.

Wenn ich alle FileMounts aus den Benutzergruppenrechten entferne geht es.

Ist das ein Bug, oder verstehe ich da das Rechte-System nicht?

[2014-05-28 14:18] jantheofel opened #30 "Bug with Contao 3.3"
This attribute with Contao 3.3 has a bug when choosing "Passen Sie den Dateibaum an." This produces an PHP error:

Fatal error: Uncaught exception RuntimeException with message Unsupported getter function for 'activeRecord' in DC_General. thrown in composer/vendor/metamodels/dc_general/system/modules/generalDriver/DcGeneral/DC_General.php on line 660

[2014-06-01 01:02] #28 closed, assigned to nobody

[2014-06-27 19:59] MacKP opened #31 "data-lightbox in xhtml Template is wrong"
Please change it to -> rel="lightbox"

https://community.contao.org/de/showthread.php?50951-Attribute-Datei-Bild-%F6ffnet-nicht-in-einer-Lightbox&p=329223#post329223

[2014-06-30 14:35] ghost opened #32 "Mehrfachauswahl Dateien als zip-Archiv herunterladen"
Wir haben aktuell die Anforderung das bei einem File-Attribut auch ein Zip-Download vorhanden ist. Also zusätzlich zu den einzelnen Datei-Links auch einen wo man gesammelt alle Zip's herunterladen kann.
Besteht an sowas allgemein Interesse? Dann würde ich einen PR machen.

[2014-07-15 12:06] #23 closed, assigned to nobody

[2014-07-18 09:20] #27 closed, assigned to nobody

[2014-07-23 15:28] #31 closed, assigned to stefanheimes

[2014-07-24 09:57] #32 closed, assigned to nobody

[2014-08-07 19:02] #29 closed, assigned to nobody

[2014-08-09 11:40] cyberlussi opened #33 "Ansicht im BE übereinanders vs. CTO nebeneinander"
Hi,

im CTO core werden bei Mehrfachauswahl die Bilder als Thumbnails im Grid nebeneinander angezeigt, in MM übereinander. Das ist bei Auswahl vieler Bilder etwas unübersichtlich ...

![2014-08-09_13_39_14_-_galerie_-_contao_open_source_cms_3_3](https://cloud.githubusercontent.com/assets/4976687/3865996/d16452f4-1fb9-11e4-9afd-bed83dbb06ec.png)
vs
![2014-08-09_13_39_58_-_artikel_galerie_inhaltsele

[2014-08-15 12:50] cyberlussi opened #35 "Feature Request: upload im BE während der Bearbeitung eines MM Eintrages"
Hi,
ich würde mal ganz vorsichtig anfragen, ob es möglich wäre das File Attribut konfigurierbar mit upload features zu erweitern?

Gefunden habe ich z.B. den fineuploader; ich habe versucht, terminal42/contao-fineuploader einfach mal in File.php getFieldDefinition() einzupflegen, leider scheitert es an der Ajax-Verarbeitung über DCG. Und leider kenne ich mich auch nicht in den Strukturen von MM+DC

[2014-09-30 09:37] Teetrinker opened #36 "Folder selector needs more clicks than Contao to display files"
I am not sure, if this is a problem of attribute_file, hope this issue is placed right

##How we know it from Contao
Create a Contao Content Element, type image ("Bild"), choose source (Quelldatei)
click plus before folder -> results in display of images contained in this folder

##How it happens in Metamodels
Have Metamodel with field of type 'folder'
Go to the input screen (Eingabemaske), edit a

[2014-12-09 10:29] Messa1 opened #38 "Datei Auswahl Contao 3.4.0"
Hallo.

Bei der Eingabemaske im BE bleibt die Lightbox leer.
In der normalerweise der Filetree dargestellt wird.

Denke es liegt an einer Umstellung in Contao 3.4.0

Habe die MM Version ca. vor 1 Woche installiert und
danach ein Update auf die neue Contao Version gemacht.

![acreen](https://cloud.githubusercontent.com/assets/3908658/5355779/7725aa76-7f96-11e4-824f-e6007222de92.jpg)

[code]

[2014-12-10 00:25] #38 closed, assigned to nobody

[2015-02-01 17:43] Znrl opened #39 "Contao 3.3.7, aktuelles Metamodel ->Fehler, wenn "Dateibaum anpassen" aktiv"
Ich habe ein ein  metamodels bei dem ein bild ausgewählt werden soll.
Sobald ich das Häkchen bei "Passen Sie den Dateibaum an" setze kommt ein Fehler/Waring und es wird nichts mehr angezeigt.
Hab mit den Optionen schon rumgespielt und es ändert sich nicht, ich seh auch kein Unterschied zum Dateipicker?
[code]
Den Wurzelordner hab ich auch auf alles mögliche geändert.
Ohne angepassten Dateibaum fun

[2015-02-02 07:53] cboelter commented on #39
Ich habe das gleiche Problem, es liegt meiner Meinung nach an dieser Zeile: https://github.com/MetaModels/attribute_file/commit/f8b72fd6ed5540e614691537495c41ae5fe12ad9#diff-427c155aaa3a5060709eadfc3c0543fcR169

Ich habe die Prüfung einmal auf folgendes geändert ```if (\Validator::isUuid($this->get('file_uploadFolder'))) {```damit tut es wieder bei mir.

[2015-02-11 12:19] psren opened #41 "Metadaten der Files werden nicht geladen"
Wenn ich Im Template auf die Metadaten des Bildes zugreifen will sind die Keys im Array zwar aufgeführt, aber nicht befüllt.

Wie komme ich da trotzdem ran?

[code]

[2015-03-19 10:12] psren opened #42 "Fehler wenn Wurzel-Verzeichnis angewählt"
Wenn ich ein Wurzelverzeichnis für den Dateipicker auswähle kommt folgende Fehlermeldung:
![bildschirmfoto 2015-03-19 um 11 06 37](https://cloud.githubusercontent.com/assets/1016798/6728218/93a83fac-ce28-11e4-91a6-783f7a38483d.png)

Ohne Wurzelverzeichnis passt alles (bis auf das Wurtzelverzeichnis eben ;-))
![bildschirmfoto 2015-03-19 um 11 09 57](https://cloud.githubusercontent.com/assets/101679

[2015-03-19 14:58] psren opened #43 "Crop mode "An Rahmen anpassen" ändert die Bilder proportional"
Die Bilder werden wenn sie Hochkant sind nur proportional skaliert.
Ich glaube das sollte anders sein.

![bildschirmfoto 2015-03-19 um 15 57 48](https://cloud.githubusercontent.com/assets/1016798/6733183/c4235388-ce50-11e4-9840-36fedb522df1.png)

[2015-03-20 19:18] discordier commented on #42
@stefanheimes as you are working on the file handling currently, could you have a look at this as well?

[2015-03-20 19:20] discordier commented on #43
Verhaelt sich das anders als im Contao core?

Probier bitte mal aus wie es dort laeuft, wenn du bei einem text element ein eigenes Bild auswaehlst.
Eigentlich verwenden wir hier genau den selben Weg wie dort.

Wenn beidesmal dasselbe passiert, dann gehoert das nach https://github.com/contao/core.

[2015-03-21 09:34] discordier commented on #42
@psren Kannst du das bitte mit der aktuellsten Version nochmal testen? Ich hoffe ich habe dein Problem mit erschlagen.

[2015-03-22 13:35] psren commented on #42
Related to #39

[2015-03-22 13:39] psren opened #44 "Too few arguments to build the query string"
Aktuellste Revision

Das passiert im Backend in der Liste des MetaModels bei dem ich ein File-Attribute einbunden habe.
Im Frontend passiert das auch.

[code]

Hier kommt der Fehler nicht mehr wenn ich diese Zeile in meinem Template auskommentiere.
[code]

[2015-03-22 13:39] psren commented on #42
Und ich kann leider nicht testen ob das mit dem Wurzelverzeichnis grade funktioniert, da ich diesen Fehler bekomme: #44

[2015-03-22 13:43] psren commented on #43
Es passiert nicht das selbe.
Wenn ich das beim Attribut einstelle bekomme ich ein proportional skaliertes Bild für Hochkant-Bilder.

Das hier führt aber zu dem richtigen Resultat:
[code]

[2015-03-22 14:30] psren commented on #44
Also, das hat sich vermutlich hier eingeschlichen.
https://github.com/MetaModels/attribute_translatedfile/commit/9064aadf56eb66aa6797dd014ac03b6993b64f4f

Mit https://github.com/MetaModels/attribute_translatedfile/commit/f2f46f589af36fdeeaf96ad0c8f88f9cb6c533bd klappt es noch alles

[2015-03-22 15:12] psren opened #45 "Encountered type string expected array"
Maybe related to #44

[code]

[2015-03-23 13:24] cboelter commented on #45
@discordier Are working on a fix for that problems, we are working on a project and need it working :(

[2015-03-24 05:11] discordier commented on #45
I hope I got it working now...

[2015-03-24 07:45] cboelter commented on #45
@discordier the error is still there :( ...

```Fatal error: Uncaught exception InvalidArgumentException with message Invalid file array thrown in composer/vendor/metamodels/core/src/MetaModels/Helper/ToolboxFile.php on line 709```

[2015-03-24 08:35] discordier commented on #45
You did update dcg and core and file?

[2015-03-24 08:44] cboelter commented on #45
Yes I did composer update.

[2015-03-24 08:46] discordier commented on #45
Damn... :(
The file picker widget is causing me to get bald... :/

[2015-03-24 12:37] discordier commented on #45
@cboelter Have a look at https://github.com/MetaModels/core/commit/8f3a486fdf31fbe4910228e1b7c6ddb348892346

[2015-03-24 12:48] cboelter commented on #45
If I do not select an file i get the error as before. If I add an file it works fine. But I can't remove the file it will be there after removing the file selection from file tree.

[2015-03-24 19:24] design23 commented on #45
Same here.

[2015-03-24 22:09] cyberlussi commented on #45
With latest updates I can store an entry with no file, then select the file - store - works. But I cannot remove the file ("Auswahl aufheben"), the previous selected file stays in database.

[2015-03-25 08:59] Hauge commented on #45
In der aktuellen Version von gestern Nachmittag kann ich speichern - jedoch kommt nach dem Speichern folgende Fehlermeldung (siehe https://github.com/MetaModels/core/issues/784 ):
[code]
Das einzige was aus dieser Zeit stammt ist der url-builder siehe:
[code]

[2015-03-25 14:43] cboelter commented on #45
@discordier any news?

[2015-03-25 15:49] cboelter commented on #45
With the following lines I fixed the error with no selected file.

[code]
On this line https://github.com/MetaModels/attribute_file/blob/310e2c07957bebc2b9077acfda7dafc586c7f0a0/src/MetaModels/Attribute/File/File.php#L115

It does not fix the problem with deselecting a file :(

[2015-03-26 06:49] cboelter commented on #45
@discordier i think i found another issue :( ...

[code]

I had a look on it, it seems that the serializeData() is called before the widgetToValue is called, so we dont have a valid array at this position.

[2015-03-26 11:20] discordier commented on #45
How to end up there?

[2015-03-29 11:01] MiniModel commented on #45
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@psren could you please have a final look at this and tell if your issue

[2015-03-29 14:10] cyberlussi commented on #45
Closed?? Also ist für mich unverändert. Es kommt zwar keine Fehlermeldung mehr, aber ein bereits gewähltes Bild kann man aktuell nicht entfernen ("Auswahl ändern -> Auswahl entfernen")!!!

[2015-03-29 20:01] MiniModel commented on #44
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@psren could you please have a final look at this and tell if your issue

[2015-03-29 20:01] #44 closed

[2015-03-31 03:08] discordier commented on #45
@cboelter,  @cyberlussi: ihr seid beide sicher auf dem aktuellsten tng?
Bei mir gibt es naemlich keine Probleme mehr.

[2015-03-31 06:38] cboelter commented on #45
@discordier ja bin ich, in dem Dump von mir sollte das Problem auch bestehen!

[2015-03-31 08:15] discordier commented on #45
alles klar.

[2015-03-31 10:52] cyberlussi commented on #45
@discordier ja ich auch, immer per composer aktualisiert. ein bereits gewähltes Bild abwählen/leeren geht nicht, das alte bleibt.
contao/core 	3.2.20
contao-community-alliance/dc-general 	dev-develop (02c33c05)
metamodels/core 	dev-tng (8eaf7a7d)
metamodels/attribute_file 	dev-tng (310e2c07) (über bundle_attributes)

[2015-04-01 12:23] Hauge commented on #45
Aktuelle nightly  hat den Fehler noch

[2015-06-04 21:04] sevenfour66 commented on #45
Das Problem besteht immer noch. Ein einmal gewähltes Bild/Datei lässt sich nicht mehr abwählen. Das alte Bild/Datei bleibt.

contao/core 3.4.4
contao-community-alliance/dc-general - 2.0.0-beta23
metamodels/core - dev-tng (1f4fd69b)
metamodels/attribute_file	- dev-tng (310e2c07)

[2015-06-04 21:32] cyberlussi commented on #45
Ja, ich habe mal meine Installation geprüft - und da geht es nun, wie man es von Contao erwartet - ich kann ein Bild entfernen. Ich haben die letzten Monate nicht an dem Projekt gearbeitet und habe nur immer mal wieder den composer laufen lassen, aber es funktioniert nun.

contao/core 	3.2.20
contao-community-alliance/dc-general 	dev-develop (a69951db)
metamodels/core 	dev-tng (1f4fd69b)
metamodel

[2015-06-05 13:22] sevenfour66 commented on #45
Habe es gerade mit der aktuellen nightly auf einem Contao 3.4.3 getestet...gleiches Problem.

[2015-06-16 09:37] inred-froehlich commented on #45
Gibt es hierfür schon einen Workaround?

[2015-06-22 17:44] sevenfour66 commented on #45
Würde mich auch interessieren ob es schon Neuigkeiten gibt.

[2015-06-26 08:56] design23 commented on #8
Gibt es hierzu irgendwelche Neuigkeiten?

[2015-06-26 09:35] gassi101 commented on #8
Hey,
ich fände das Feature auch echt gut -so langsam ist es ja schon eine Weile in der Warteschleife....

[2015-06-26 09:45] tim-bec commented on #8
Wer hätte denn Lust sich an der Umsetzung zu beteiligen? Dann können wir das evtl. zeitnah realisieren.

[2015-06-26 13:03] design23 commented on #8
Aktiv beteiligen könnte ich mich leider nur als Tester ;)

[2015-06-30 10:44] dmolineus commented on #41
Ich kann dies nicht reproduzieren in einem einfachen MM. Wie ist denn dein Setting?

* Nutzt du ein mehrsprachiges MM?
* Tritt dies im Backend oder Frontend auf?
* In welcher Sprache ist deine Seite?
* Für welche Sprachen existieren die Bilder-Metadaten?

[2015-06-30 10:57] dmolineus commented on #30
Kann ich in Contao 3.4.5 nicht nachvollziehen. Kennt jemand das Problem aus der 3.4er Version? Falls es ein Cto 3.3 spezifisches Problem ist, empfehle ich dies nicht zu fixen, da der Support für Contao 3.3 ausgelaufen ist.

[2015-07-01 09:27] tim-bec commented on #30
confused why i mentioned this ticket to @dmolineus ... we should not support contao 3.3

[2015-07-01 09:27] #30 closed

[2015-07-04 11:01] MiniModel commented on #41
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@psren could you please have a final look at this and tell if your issue

[2015-07-04 11:01] #41 closed

[2015-07-24 19:38] #45 closed

[2015-07-24 19:40] discordier commented on #39
Ist behoben.

[2015-07-24 19:40] #39 closed

[2015-07-24 19:42] discordier commented on #25
No feedback for more than one year, therefore I assume it is fixed.

[2015-07-24 19:42] #25 closed

[2015-07-24 19:48] discordier commented on #21
The metionend method has been removed since MetaModels/core@188a26db364adb708e2ac6c3fcce45410b150d92.

[2015-07-24 19:48] #21 closed

[2015-07-24 19:51] discordier commented on #42
Sollte behoben sein, ansonten bitte neues Ticket.

[2015-07-24 19:51] #42 closed

[2015-07-24 19:52] discordier commented on #43
Bitte nochmal testen ob das inzwischen behoben ist.
@tim-bec Evtl. kannst du auch was dazu sagen?

[2015-07-24 19:54] discordier commented on #36
Should be fixed I guess. In the end, we are using the Contao standard file picker as base now.

If it is not fixed, please create a new ticket in MetaModels/core, as the picker is contained in there.

[2015-07-24 19:54] #36 closed

[2015-07-27 08:44] Teetrinker commented on #36
Thanks, great to see MM tickets getting processed.

[2015-08-08 12:37] cyberlussi commented on #35
Neben terminal42/contao-fineuploader wollte ich den seit 3.3.0 verfügbaren Contao internen Dropzone uploader noch ins Spiel bringen. Das würde die externen Abhängigkeiten reduzieren.

[2015-08-11 14:24] discordier commented on #35
Das ist allgemein eine Anbindung der jeweiligen Uploader an den DCG. Wenn diese geschaffen sind, dann kann man es in MM auch nutzbar machen.

[2015-08-19 14:07] andre5tz opened #49 "Fatal error: Call to undefined method MetaModels\Helper\ToolboxFile::convertValuesToMeta Models()"
Hallo,

nach meinem heutigen Update von MM über Composer bekomme ich beim Aufruf eines MM die folgende Fehlermeldung:

Contao 3.2.21
contao-community-alliance/dc-general dev-develop (388f7a7c) → 2.0.x-dev
metamodels/core dev-tng (e750d21) → 2.0.x-dev
metamodels/bundle_all 1.0.1

Ausgangssituation:
Wenn ich im Backend ein Metamodel auswähle (link z.B. auf http://www.xxx.de/contao/main.php?do=metamo

[2015-08-20 16:13] discordier commented on #49
Siehe Kommentar im von dir verlinkten ticket. Du hast alte Informationen und Versionen.

[2015-08-20 18:48] andre5tz commented on #49
Danke für die Info, mir war nicht bekannt, dass ich das umstellen muss, muss ich wohl verpasst haben. Leider steht das so noch nicht auf now.metamodels.me, wäre vielleicht noch einen Hinweis wert.

LG und DANKE :-)

[2015-08-20 18:48] #49 closed

[2015-09-09 17:22] MiniModel commented on #43
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@psren could you please have a final look at this and tell if your issue

[2015-09-09 17:22] #43 closed

[2015-09-25 12:39] xantippe commented on #8
hmm... ich war erstaunt, dass das nicht geht - die Sortierung ist doch im "Contao-Core-Widget" enthalten? ist eine Nutzung dessen nicht machbar?

es wäre schade, wenn das erst mit MM 2.1 kommt, da das m.E. mehr als nur "usability" ist

[2015-11-16 17:23] a-v-l commented on #8
+1

[2015-11-17 07:56] xantippe commented on #8
ist das eine Sache von MM oder eher vom DCG?

[2015-11-17 17:36] dmolineus commented on #8
@xabtippe Der DC-General ist inzwischen darauf vorbereitet, die Implementierung für MM nicht ganz trivial, aber als PoC auch schon abgefangen.

[2015-11-17 17:51] xantippe commented on #8
@dmolineus .. souds good!

[2016-01-07 08:17] xantippe commented on #6
@discordier ist das implementiert?

[2016-01-13 18:21] discordier commented on #6
nein

[2016-01-20 00:17] design23 commented on #8
Gibt es hierzu schon Neuigkeiten?

[2016-01-20 07:23] xantippe commented on #8
@design23 leider nein - wenn Du das in einem Projekt "dringend" benötigst, wäre einen "Gegenfinanzierung" der Umsetzung eine Überlegung...

[2016-01-21 10:10] design23 commented on #8
Dringend ist es nicht, hat nach wie vor den Status "nice to have". Zwecks Finanzierung hab ich mal nachgehakt... leider fail ;)
Vielleicht können hier ja ein paar Leute zusammenlegen und wir wuppen das hier. Was wäre denn nötig?

[2016-04-26 13:51] gruenerPetz opened #50 "PHP Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 139866527699016 bytes) in Unknown on line 0"
Hallo,

wir haben folgendes Problem: Sobald im Backend ein Bild gesendet wird, finden wir im php error log folgende Nachricht:

`PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 139866527699016 bytes) in Unknown on line 0`

Nicht zuverlässig reproduzierbar bekommen wir eine leere Seite nach dem Speichern.

Habt ihr evtl. einen Tipp für uns, was das sein kann?

[2016-04-26 13:58] zonky2 commented on #50
was bedeutet

[2016-04-26 14:00] gruenerPetz commented on #50
Wir benutzen das File Attribute und wenn ein Bild gewählt wird kommt der Fehler. Wird kein Bild gewählt wird, ist alles super.

[2016-04-26 14:08] zonky2 commented on #50
passiert der Fehler auch, wenn das selbe Bild im "normalen Contao" verwendet wird? Wurde das Bild per FTP oder über die Dateiverwaltung hoch geladen?

[2016-04-26 14:24] gruenerPetz commented on #50
Ich habe jetzt zwei Varianten getestet:

1. Img 1931 x 1931 px (1.1 MiB) - upload SAMBA
2. Img 600 x 600 (330,6 KiB) - upload Contao Dateiverwaltung

Normales Contao Bild Inhaltselement funktionieren beide ohne Probleme.
MM bei beiden der Fehler.

[2016-04-26 15:19] zonky2 commented on #50
hmm... aktuelles MM?
bitte prüfen, ob die Bilder wirklich das sind, was die Extension vorgibt

[2016-04-26 15:21] gruenerPetz commented on #50
Contao: 3.5.9
metamodels/core: 2.0.0-alpha10
metamodels/attribute_file: 2.0.0-alpha1

was meinst du mit

[2016-04-26 16:06] zonky2 commented on #50
mach mal Contao auf die .12 - da gabs ein paar Bug mit Dateien - glaube ich...

zur Prüfung: nur weil ein Bild "my_picture.**jpg**" heißt, muss das kein JPEG sein...

[2016-04-27 07:33] gruenerPetz commented on #50
Bild ist 100%ig ein Bild :) Fehler tritt auch bei anderen Bildern auf.
Contao update auf .12 habe ich gemacht. Selber Verhalten.

[2016-04-27 08:07] zonky2 commented on #50
o.k. - die GDlib kommt ins straucheln, wenn man z.B. ein PNG als my_picture.jpg hoch läd...

ansonsten habe ich erstmal keine Idee, warum hier "mehre Terabyte" Speicher "gewünscht" werden...

such mal bitte die Apache und PHP-Version raus

[2016-05-09 16:08] discordier opened #51 "File::searchFor() does only handle single selection"
Searching for files in a multi select file attribute is not implemented yet.

[2016-05-09 16:15] discordier commented on #50
Any update?

[2016-05-09 19:09] zonky2 commented on #50
@gruenerPetz bitte Infos zum aktuellen Stand!

[2016-05-09 21:03] gruenerPetz commented on #50
Ich habe Apache und PHP inkl. alle Module noch mal neu aufgesetzt und seitdem tritt der Fehler nicht mehr auf. Ich denke es hing mit der GBlib zusammen, da das Problem definitiv beim resizen der Bilder aufgetreten ist. Danke für die Hilfe!

[2016-05-12 11:30] stefanmeschke commented on #50
Der Fehler tritt bei uns erneut auf und nicht nur bei Bildern.
Aktuell tritt dies bei jeder hochgeladenen PDF-Datei auf.

Habt ihr eine Idee, was dies sein könnte? Danke!

[2016-05-12 11:33] zonky2 commented on #50
@stefanmeschke bitte Infos zu Contao + MM + PHP usw. - könnt Ihr debuggen, wann/wo der Fehler auftritt?

[2016-05-12 11:35] stefanmeschke commented on #50
@zonky2
Es handelt sich um das selbe System (selbe Server) wie von @gruenerPetz.

[2016-05-12 11:47] gruenerPetz commented on #50
Contao:  3.5.12
metamodels/core: 2.0.0-alpha10
metamodels/attribute_file: dev-master

OS: Ubuntu
PHP: 5.6.20
Apache: 2.4.20 (Ubuntu)

Ich habe die Stelle noch nicht gefunden, wo genau der Fehler auftritt.

[2016-05-12 11:52] zonky2 commented on #50
in https://github.com/MetaModels/attribute_file/issues/50#issuecomment-217989022 hieß es, es tritt nicht mehr auf - nun doch (wieder)..?

[2016-05-12 11:54] stefanmeschke commented on #50
Ja, das stimmt. Dies kann aber auch daran liegen, dass wir in den letzten 2 Wochen eher wenig mit Dateien gemacht haben.
Das Problem tritt auch nicht immer auf, sondern oft, aber manchmal scheint es auch zu gehen.

[2016-05-12 11:54] zonky2 commented on #50
könnt ihr probieren
* DCG auf beta35
* ggf. MMcore auf alpha11

[2016-05-12 11:56] gruenerPetz commented on #50
Wir sind genau so ratlos. Es ist definitiv die Kombination Server - Contao. Btw. es betrifft auch nicht nur die eine Contao Installation sondern alle auf dem Server.

[2016-05-12 12:04] zonky2 commented on #50
ist das Auftreten an bestimmte Bilder/Dateien gekoppelt, d.h. bei bestimmten Dateien tritt der Fehler auf bei anderen nicht?

[2016-05-12 12:09] stefanmeschke commented on #50
Der Fehler tritt an unterschiedlichen Dateien (PDF, JPG, PNG etc.) auf.

[2016-05-12 12:34] stefanmeschke commented on #50
@zonky2
Das **attribute_select** verhindert leider das Update des DCG.

[2016-05-12 12:34] zonky2 commented on #50
...ich meinte nicht Datei-Arten sondern dezidierte Dateien ... oder kommt es vor, dass bei ein und der selben Datei der Fahler mal auftritt und mal nicht?

[2016-05-12 12:35] zonky2 commented on #50
an das ```as 2.0.0``` in der JSON gedacht? - siehe Handbuch

[2016-05-12 12:35] stefanmeschke commented on #50
Korrekt. Bei ein und derselben Datei kommt erst der Fehler, nach erneutem Auswählen und speichern kein Fehler. Dann evtl. nochmal speichern und dann kann es vorkommen, dass der Fehler wieder kommt.

[2016-05-12 12:38] zonky2 commented on #50
... bin da kein Fachmann, aber klingt für mich als ob die Zugriffe auf die Datei nicht immer möglich wären... ist der Server "home brew"?

[2016-05-12 12:42] gruenerPetz commented on #50
Server läuft auf Ubuntu.

Komisch ist auch, dass jede andere Art und Weise eine Datei hochzuladen und einzubinden (Core Inhaltselement etc.) keinerlei Probleme macht. Nur wenn man das über das MM machen möchte.

[2016-05-12 13:14] zonky2 commented on #50
einen (Groß-)Teil des Filehandlings übernimmt der DCG...
da man das anscheinend auf einem anderen Server nicht nachvollziehen kann, müsstet Ihr selbst raus finden, an welcher Stelle die Säge klemmt :-(

[2016-05-12 13:18] stefanmeschke commented on #50
Ein weiteres Fehlverhalten konnte ich bei den letzten Dateien beobachten:

Ich wähle eine Datei aus dem Modal aus und gehe danach auf "Anwenden". Jetzt wird ein XHR-Request gemacht mit:

- URL: contao/main.php
- GET-Parameter:
-- do:metamodel_mm_downloads
-- after:mm_downloads::48
-- act:edit
-- id:mm_downloads::49
-- rt:5561e280059ea3eaebc2457a2970444f
-- ref:c1466c6e
- Form Data:
-- action:reloa

[2016-05-12 13:32] zonky2 commented on #50
ist das Verhalten bei verschiedenen Browsern gleich?
sind irgendwelche lokalen Virenscanner oder Popupblocker am Start?

[2016-05-12 14:01] stefanmeschke commented on #50
Ja. Tritt sowohl unter Chrome als auch unter Firefox auf.

Nein.

[2016-05-12 14:07] zonky2 commented on #50
... habe keine Idden mehr dazu :-(

[2016-05-30 15:06] discordier commented on #50
Me non neither.

Without further information impossible to track this down.

Will close therefore, if you have additional information, feel free to reopen.

[2016-05-30 15:06] #50 closed

[2016-05-30 15:54] discordier commented on #6
Issue moved to core

[2016-05-30 15:54] #6 closed

[2016-07-20 12:19] binron commented on #8
Würde sagen "would be very nice to have"
Von wieviel Aufwand sprechen wir denn hier?

[2016-07-20 12:26] zonky2 commented on #8
@binron Bitte eine Mail über das Formular https://now.metamodel.me/de/unterstuetzer/spenden oder eine PN im Forum an mich senden...

[2016-07-21 14:05] zonky2 commented on #8
@binron bist Du "rono" im Forum? wenn ja, ich kann Dir keine PN senden

@design23 bitte mich kontaktieren - dann kommt auch Antwort ;-)

[2016-07-22 15:33] binron commented on #8
@zonky2 ja, habe auch keinen Weg (ausser hier) gefunden Dich zu kontaktieren

[2016-07-22 16:00] zonky2 commented on #8
im Forum bin ich "zonky" wie Du schon richtig vermutet hast - entweder Du schaltest frei, dass Du eine Private Nachricht (PN) empfangen kannst oder sendest mir eine - nur eine Freundschaftsanfrage zu senden reicht nicht...

[2016-07-23 09:51] zonky2 commented on #8
@binron und @design23 - die Sortierung ist inzwischen ein gutes Stück voran gekommen.... "ein paar Körnchen" fehlen noch...

wenn zwei, drei Leute/Firmen mal auf den Spenden-Buzzer drücken, könnte das Feature in Kürze fertig sein
https://now.metamodel.me/de/unterstuetzer/spenden

[2016-08-21 10:28] zonky2 commented on #8
@binron und @design23 - scheint doch nicht so wichtig zu sein? ich kann keine Anfrage/Rückmeldung sehen...

[2016-08-22 09:47] design23 commented on #8
@zonky2 Sorry dafür. Momentan wenig Zeit / Ressourcen dafür. Ich versuch mich demnächst nochmal damit zu befassen.

[2016-08-23 08:39] zonky2 commented on #8
... ein paar Spenden der "Wünscher" würde ja schon reichen ;-)

[2016-08-23 08:41] design23 commented on #8
Schon klar ;)
Einfach in den allgemeinen MM-Spendentopf?

[2016-08-23 08:45] zonky2 commented on #8
ja, kannst auch den "Wunsch" mit angeben...
https://now.metamodel.me/de/unterstuetzer/spenden

[2016-08-23 08:50] design23 commented on #8
Done.

[2016-09-07 21:17] binron commented on #8
@zonky2 sorry konnte im Forum weder eine PN senden noch freischalten dass ich welche bekommen kann, bin wohl zu doof dazu

[2016-09-08 05:48] zonky2 commented on #8
ich vermute zum Einstellen:
* "Benutzerkontrollzentrum" (rechts oben)
* "Einstellungen > Profil-Privatsphäre" (links)
* "Für alle sichtbar"

bzw. zum Senden:
* "Benutzerkontrollzentrum" (rechts oben)
* "Neue Nachricht" (links oben)
* Empfänger: "zonky" (ohne die 2)

oder ober die E-Mail mail@metamodel.me (kommt auch bei mir an)

[2016-09-08 14:34] MoniqueHahnefeld commented on #8
Hi, ich habe mal das hotfix installiert und bekam dann in einem MetaModel im BE immer diese Fehlermeldung:
`/**
     * {@inheritDoc}
     *
     * @throws \LogicException Always, as this is not intended for real use.
     */
    public function parseValue($arrRowData, $strOutputFormat = 'text', $objSettings = null)
    {
        throw new \LogicException(__METHOD__ . ' is a virtual helper attribut

[2016-09-08 15:07] zonky2 commented on #8
Hallo @MoniqueHahnefeld - hattest Du gelesen, dass man das attribute_translatetfile abschalten muss?

[2016-09-08 15:46] MoniqueHahnefeld commented on #8
:) nein ? muss man, ok ... - wo steht das denn?

[2016-09-08 17:48] discordier commented on #8
Ohne stack trace kann ich da (wieder einmal) nix machen. :dog:

[2016-09-08 19:05] zonky2 commented on #8
https://now.metamodel.me/de/aktuelles/details/2016-august-infos

mit hotfix/order-field (wird 2.1.0) kommt die Möglichkeit, Dateien (und Bilder) im BE zu sortieren (z.Z. noch beta-Version) - für einen Test des Hotfix muss dast attribute_translatedfile abgeschaltet werden (eine Überführung auf translatedfile steht noch aus)..."

[2016-09-09 10:53] MoniqueHahnefeld commented on #8
@discordier was brauchst du? soll ich das metamodels bundle zippen und geben, oder brauchste ganze installation?

@zonky2 thx :)

[2016-09-09 11:07] zonky2 commented on #8
@MoniqueHahnefeld bitte für Quelltext/Fehlermeldungen/etc.pp. in "drei Ticks" (bei Dir geändert)

siehe https://guides.github.com/features/mastering-markdown/ => Examples > Code

[2016-09-09 11:32] MoniqueHahnefeld commented on #8
@zonky2 die Fehlermeldung steht im quelltext^^

[2016-09-09 11:39] zonky2 commented on #8
@MoniqueHahnefeld hmm... dann hast Du Dein System ggf. anders eingestellt... bei mir sehen (PHP) Fehlermeldungen üblicher weise i.E. so aus

[code]

[2016-09-09 12:35] MoniqueHahnefeld commented on #8
zonky2 Mein System funktioniert ja jetzt. Ich habe das hier nur gepostet, damit da vielleicht nochmal nachgesehen werden kann bevor jemand anderes auch diesen Fehler hat.

[2016-09-09 12:57] zonky2 commented on #8
ohne eine Beschreibung, wie Du zu dem Fehler gekommen bist und ohne den kompletten Stack Trace ist es "schwierig" die Sache sauber zu fixen - die Fehlermeldung "abzuschalten" ist leider keine (saubere) Lösung

[2016-09-09 13:38] MoniqueHahnefeld commented on #8
zonky2 ja ich habe ja geschrieben was ich weiß, wenn ich mehr wüsste. Ich habe ganz normal die tng-version und nix dran verändert. Für mich tut diese Lösung und Du weiß ja garnicht ob es sauber ist oder nicht, weil Du garnicht weißt worum es bei dem Fehler geht.

[2016-09-09 13:42] zonky2 commented on #8
... genau das ist das Problem!

[2016-10-31 12:17] design23 commented on #8
Kurze Frage zu der Thematik: Wie schaltet man denn ein Attribut ab? Seh den Wald vor lauter Bäumen nicht...

[2016-10-31 12:27] design23 commented on #8
Bin gerade dabei den Hotfix zu testen. Soweit sieht das alles gut aus. Allerdings kann ich jetzt keinen Filter vom Typ "Einfache Abfrage" mehr erstellen:

[code]

[2016-10-31 12:56] zonky2 commented on #8
@design23 - auch auf Github zu gebrauchen: https://community.contao.org/de/showthread.php?62440-Tipps-bei-Fragen-Problemen-Fehlern-Bugs-in-MetaModels => siehe "Wichtig"

[2016-10-31 13:01] design23 commented on #8
Sorry.

Contao-Version: 3.5.18
MM per Composer
MM Version (core): metamodels/bundle_all	2.0.0
DC-General Version: contao-community-alliance/dc-general	2.0.0-beta38
spezielle Hotfix-Pakete eingespielt?: metamodels/attribute_file   dev-hotfix/order-field

Fehler tritt auf: beim Anlegen eines neuen Filters Typ "einfache Abfrage" oder "Einzelauswahl"

Kann nachvollzogen werden (hoffentlich):
Einfaches

[2016-10-31 13:47] zonky2 commented on #8
mit MM core a13 und DCG b37 funktioniert es (noch) - mit der aktuellen Kombi MM core a14 und DCG b38 nicht mehr... (Fehler s.o.)

[2016-11-01 06:53] zonky2 commented on #8
ich konnte das Problem soweit eingrenzen, dass es offensichtlich am Wechsel des DCG von b37 zu b38 liegt...

[2016-11-02 08:43] zonky2 commented on #8
@baumannsven und @zonky2 haben uns die Sache nochmal angesehen...

sieht so aus, als bräuchte man hier https://github.com/MetaModels/core/blob/master/src/MetaModels/DcGeneral/Events/Table/FilterSetting/Subscriber.php#L255 eine Fallunterscheidung für die "virtuellen Attribute" - die "Eigenschaft" könnte man z.B. mit implements einer eigenen Klasse machen
https://github.com/MetaModels/attribute_file

[2016-11-03 07:11] zonky2 commented on #8
getestet mit MM core beta 15: i.O.!

[2016-11-03 09:42] design23 commented on #8
Kann ich so bestätigen.

[2016-11-03 10:06] zonky2 commented on #8
@design23 da Du letztens gespendet hast, erspare ich Dir meine "Litanei" (heute) dazu... - nimm xtra mit in Dein Abendgebet auf ;-)

[2016-11-03 10:07] design23 commented on #8
Welche Litanei? Ich nehm euch sowieso alle ins Abendgebet auf ;)

[2016-11-03 10:30] zonky2 commented on #8
dann schlaf ich doch gleich viel bessser ;-)

[2016-11-30 16:29] discordier commented on #33
@zonky2 ist das nicht mit #52 erledigt?

[2016-11-30 16:46] zonky2 commented on #33
muss ich nochmal testen...

[2016-12-01 07:02] zonky2 commented on #33
es gibt ein Widget in drei "Geschmacksrichtungen"

![shot298](https://cloud.githubusercontent.com/assets/1045318/20784705/5594f00c-b79c-11e6-9cdf-bf2252ae7276.jpg)

**No 1**

![shot298_1](https://cloud.githubusercontent.com/assets/1045318/20784732/7479ff58-b79c-11e6-9091-f5ac20348f96.jpg)

**No 2**

![shot298_2](https://cloud.githubusercontent.com/assets/1045318/20784739/79be87a4-b79c-11e6-8d7e-da

[2016-12-01 07:02] #33 closed

[2017-01-21 13:09] zonky2 opened #53 "read only attribute doesn´t work"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-02-27 09:43] binron commented on #8
@zonky2 Wann könnte das Feature in einer stable Version verfügbar sein?

[2017-02-27 09:49] zonky2 commented on #8
das kann nur @discordier beantworten - m.E. die aktuelle Version nochmal "geflöht" und auf alle Fälle muss die translated-Version inkl. der Kompatibilität noch erstellt werden...

... oder jemand anderes macht die zwei Attribute "feature-fertig/stable"

[2017-03-17 08:22] zonky2 opened #54 "add meta data to raw data"
add meta data to raw data as new node - output as serialisized data or array

look at
https://github.com/MetaModels/attribute_file/blob/977ad4505bf1c2796d90e64e2b5e616e01f7e70f/src/MetaModels/Attribute/File/File.php#L100

change ToolboxFile:
https://github.com/MetaModels/core/blob/4e8303f6d7ce29f01bfd22867ab650444cf700e2/src/MetaModels/Helper/ToolboxFile.php#L757

[2017-03-18 18:34] discordier commented on #54
I have no clue what you are talking about. Why should we do this?

[2017-03-18 18:56] zonky2 commented on #54
e.g. wie have a image file and we show the description, title, link or other meta data, we "ask" contao dateabase at every file  like

[code]

may be we can output as option

[2017-03-19 11:32] discordier commented on #54
Ah, now I get it.
Yeah, we can do this.

[2017-04-10 22:08] zonky2 commented on #54
may be - it the file a image we can add the original witdh and hight

[2017-04-23 14:53] zonky2 commented on #54
PR at https://github.com/MetaModels/core/pull/1116

[2017-04-23 23:37] sdcarte commented on #8
Was ist denn nun mit der Stable? Bzw. läuft das Fix unter 3.5? Wenn ja, wäre es ganz gut, wenn wir eine verständliche Erklärung hätten. Biete mich auch gerne zum schreiben an ;)

[2017-06-12 12:25] zonky2 opened #56 "show "sorting" at render setting > attribute settings only if multiple files selected"
show "sorting" at render setting > attribute settings only if multiple files selected - it´s not necessary to set sorting for one file...

[2017-08-24 06:04] #54 closed

[2017-09-07 14:15] zonky2 opened #57 "FEE error on widget"
Error at FE

[code]
https://github.com/contao-community-alliance/dc-general-contao-frontend/blob/654c6017b59dd3257897aa69c5187f7ac0b74213/src/View/DefaultWidgetBuilder.php#L115

[2017-09-30 20:40] Sukrams opened #58 "<img>-Tag isn't generated at SVG-files"
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version available
- [X] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [X] I have checked the Contao community forums for references https://community.contao.org/
- [X] I have checked existing issues for duplicates and found none @ h

[2017-11-06 10:54] cmerz1 opened #62 ""Order By" Sorting of files not working in FE Template"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-12-01 19:42] discordier commented on #58
Fixed in 1d8cd6a

[2017-12-01 19:42] #58 closed

[2017-12-01 19:47] discordier commented on #53
`File::getFieldDefinition()` should pass eval read only. In addition, I suspect the file picker widget does not know what read only is about.

[2017-12-01 21:05] zonky2 commented on #8
@sdcarte Hallo, Dein Posting habe ich leider übersehen... das Feature haben wir soweit fertig

lediglich die "Finanzierung" in Form von Spende oder Mitarbeit ist noch nicht abgeschlossen

siehe https://now.metamodel.me/de/unterstuetzer/fundraising#filesorting

[2017-12-27 09:16] zonky2 opened #63 "node raw and text does not show the files of a folder"
node raw and text does not show the files of a folder - only html5 lists all files of the folder

[2018-01-16 11:51] zonky2 opened #64 "change template and figure tag"
change template and figure tag
like https://github.com/contao/core/blob/3.5/system/modules/core/templates/elements/ce_image.html5

[2018-02-01 15:21] zonky2 commented on #62
kann ich bestätigen

[2018-02-13 20:46] zonky2 commented on #62
fixed https://github.com/MetaModels/core/pull/1217

[2018-02-20 21:48] MiniModel commented on #62
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cmerz1 could you please have a final look at this and tell if your issue h

[2018-03-07 21:54] zonky2 commented on #63
node raw have only the "pure" DB value - that`s correct, but we should update the templates *.text

thx @discodier

[2018-08-28 19:49] Ainschy opened #68 "Mehrere bearbeiten und überschreiben, Auswahl wird nicht übernommen / geändert"
## Checklist before I submit this issue report

I confirm that:
- [X ] I have tested this with the latest version available
- [X] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [X] I have checked the Contao community forums for references https://community.contao.org/
- [X ] I have checked existing issues for duplicates and found none @

[2019-01-11 06:36] zonky2 opened #69 "[2.1] FEE error"
[code]

[2019-02-25 14:42] zonky2 opened #70 "[2.1] double section advanced in render settings"
double section advanced in render settings

http://easycaptures.com/fs/uploaded/1156/5397804839.png

[2019-02-26 06:37] zonky2 commented on #70
See https://github.com/contao-community-alliance/dc-general/issues/459

[2019-03-04 07:32] zonky2 commented on #70
fixed with https://github.com/MetaModels/core/commit/3749e031a01377ffc0b66ba7a02838a4deb488c4

[2019-03-04 07:32] #70 closed

[2019-03-21 14:21] HaraldHubinger commented on #62
In our MM 2.1 installation (Contao 4.4.35, PHP 7.3) sorting by file attribute is broken with upgrade from MM 2.0 to MM 2.1. The same template renders  a correctly sorted list in MM 2.0 / Contao 3.5.36 and I could not find any other source of failure so for. Maybe this has to be reopened for MM 2.1?

[2019-03-21 18:10] baumannsven opened #71 "Update handler add the false sort column"
The upgrade handler add the sort column with the prefix `_sort`. This is false. The right prefix is `__sort`.

https://github.com/MetaModels/attribute_file/blob/9616bbfce06f1d820e53066acd685d09ba646290/src/MetaModels/Attribute/File/Helper/UpgradeHandler.php#L86

[2019-03-29 05:52] baumannsven opened #72 "Todo before release 2.0.6"
Before we release the new version, somethings must be do.

Backport some changes from mm core 2.1 => 2.0:
- [x] https://github.com/MetaModels/core/commit/65203d2544ebfd36436ffbd8e9db576a60ef9541

[2019-04-02 06:09] zonky2 commented on #62
I have tested the sorting options for the FE output and found no errors.

[2019-04-02 06:09] #62 closed

[2019-04-03 12:46] HaraldHubinger commented on #62
In addition to the Contao 3.5/MM2.0-installation, which broke regarding to file sorting I have now set up a fresh test-installation with a MM with a file-attribute.
I cannot achieve a Frontend output sorted by file, neither by setting it in the CE Metamodel-List nor by overrding it via "orderBy/file" (the name of the attribute). Sorting works perfectly indeed for all other attributes by just chang

[2019-04-03 12:51] zonky2 commented on #62
Hi,
do you want to sort multiple files or sort a list of MM items by the file attribute?

maybe call me at skype :D

[2019-04-03 13:05] zonky2 commented on #62
@HaraldHubinger wants to filter several items according to the file attribute...

apparently this worked in MM 2.0 times... hmm??

[2019-04-03 14:34] zonky2 commented on #62
for such a requirement you could create your own filter type, which takes over the sorting

[2019-04-03 18:37] discordier commented on #72
Was backported in https://github.com/MetaModels/core/commit/823e9f19910c805eeead4e65568a7baa397066a8

[2019-04-03 18:37] #72 closed

[2019-04-04 06:09] baumannsven commented on #71
Fixed in 8305a1760ed4ceaf89738a123fa84baa31ef92b6

[2019-04-04 06:09] #71 closed

[2019-05-09 14:39] zonky2 opened #74 "change DCA for attribute properties"
change DCA for attribute properties

see http://easycaptures.com/fs/uploaded/1229/9438531514.png

[2019-05-09 14:41] discordier commented on #74
Explain what you want to get changed or do it on your own. I do not understand what you want aside from "something in the DCA to be changed".

[2019-05-09 15:08] zonky2 opened #75 "set new legend (section) as visible ininput mask"
set new legend (section) as visible in input mask

if you add a new legend, normaly should this visible

[2019-05-10 19:23] discordier commented on #75
You mean the default value of visible should be changed to on instead of off?

[2019-05-13 14:54] zonky2 commented on #75
yes!

[2019-07-24 16:15] zonky2 commented on #75
move to https://github.com/MetaModels/attribute_file/issues/75

[2019-07-24 16:15] #75 closed

[2019-08-23 16:28] bezin opened #76 "Table column queries are not cached in AttributeOrderTypeFactory"
Hi all,

I have a collection of 100 Items with one file attribute. The following query was called 200 times, when requesting this collection:

[code]

Since this does not change within a request we should cache this response.

PR follows

Cheerio

[2019-08-27 13:02] zonky2 commented on #76
fixed in https://github.com/MetaModels/attribute_file/pull/77

[2019-08-27 13:02] #76 closed

[2020-01-29 11:26] MacKP opened #79 "Files Suchbar im Backend machen"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2020-01-29 12:26] zonky2 commented on #79
btw: `[x]` statt `[ x ]` - schon korrigiert

[2020-03-16 10:56] zonky2 commented on #64
?

[2020-03-16 10:56] #64 closed

[2020-04-12 13:43] zonky2 commented on #8
In MM 2.2 implementiert

[2020-04-12 13:43] #8 closed

[2020-04-17 16:24] tsarma commented on #69
I think this is exactly related to https://github.com/MetaModels/attribute_file/pull/81. Here for MM attribute file `photo` another empty property `photo__sort` is created, instead of setting the property type of `photo` to `fileTreeOrder`

[2020-05-21 15:12] zonky2 opened #83 "Selection of files is only possible if a root folder is specified in the attribute settings"
Selection of files is only possible if a root folder is specified in the attribute settings

for translated files /files is automatically set as root folder

@discordier it´s a bug?

[2020-05-28 20:57] zonky2 commented on #83
missconfig :(

[2020-05-28 20:57] #83 closed

[2020-05-29 05:57] zonky2 commented on #74
we discussed this at the MM call: the name is a bit confusing - especially in german with "Dateibaum". This is where "file widget" ("Datei-Widget) should be, since it is the settings of the whole widget.

[2020-05-29 06:05] zonky2 opened #84 "Change Option "only files" to "folder and files, only files, only folder"-select"
Change Option "only files" to

* folder and files (value: 0)
* only files (value: 1)
* only folder (value: 2)

We must change the DCA and method `handleCustomFileTree` and set up an migration script.

[2020-07-20 06:05] zonky2 commented on #69
FEE file upload with dropzone implemented in MM 2.2

[2020-07-20 06:05] #69 closed

[2020-07-20 06:06] zonky2 commented on #57
FEE file upload with dropzone implemented in MM 2.2

[2020-07-20 06:06] #57 closed

[2020-07-20 06:13] zonky2 commented on #35
Im Auswahlwidget für Dateien ab Contao 4.8 kann man direkt in der Lightbox per D&D ein oder mehrere Bilder in einen Ordner ziehen

[2020-07-20 06:13] #35 closed

[2020-07-20 06:14] zonky2 commented on #79
related with https://github.com/MetaModels/attribute_file/issues/51

[2020-07-20 07:20] zonky2 opened #86 "Add manual sorting for FEE"
Add manual sorting for frontend editing

[2020-07-20 07:22] zonky2 opened #87 "FEE: Add select image size for thumbnails in FEE upload widget"
Add select image size for thumbnails in FEE upload widget

[2020-08-07 15:34] zonky2 opened #88 "rework quoteReservedWord to table prefix"
rework `quoteReservedWord` to table prefix at all queryBuilder - translated file the same

https://github.com/MetaModels/attribute_translatedfile/issues/32

[2020-08-07 15:36] zonky2 opened #89 "rework helper attribute __sort"
rework helper attribute __sort

https://github.com/MetaModels/attribute_translatedfile/issues/33

[2020-11-19 09:58] zonky2 opened #90 "FEE with single file doesn't work with dropzone"
MM 2.2 with FEE fileupload with dropzone - normal upload widget run

if single file activated and save we have the follow error:

`Property logo (file) did not accept the value (The values differ. Encountered type string expected array (Found 'i���*K�8�.��mV', expected array ( 0 => 'i���*K�8�.��mV', ))).`

[2020-11-19 10:01] zonky2 opened #91 "FEE upload options should depend on the setting of this attribute"
FEE upload options should depend on the setting of this attribute:

* have attribute multiple files checked => show radios for multi upload
* have attribute multiple files not checked => show radios for single upload

[2020-11-19 10:07] zonky2 opened #92 "FEE with single: its not possible to delete or deselect"
FEE with single: its not possible to delete or deselect - no error, no warning...

I check this...
The input field of image has name like `name="logo"` - with multiple file like `name="logo[]"`

The checkboxes works as array values like `name="logo[reset][]"` and with `name="logo[delete][]"` ...

In single file mode should the name also `[]` but without kill this the array.

[2020-11-19 10:13] zonky2 opened #93 "FEE with FEE Upload: set /file als default folder"
FEE with FEE Upload: set /file als default folder

[2020-11-19 10:18] zonky2 opened #94 "rename isSingleUploadField method"
in class src/EventListener/BuildFrontendUploadListener.php rename from `isSingleUploadField` to `isUploadField` - I doesn´t see any check to single...

[2020-11-19 11:13] zonky2 opened #95 "Add option to FEE single file upload to delete existing file"
Add option to FEE single file upload to delete existing file if new file uploaded

[2021-04-07 16:03] stu2019 opened #96 "Change the checkbox Mehrfachauswahl in MM 2.2@dev create a SQL error"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2021-04-07 16:34] zonky2 commented on #96
@baumannsven sounds like a check for existing column is not working properly....

[2021-04-07 16:56] stu2019 opened #97 "FEE - File / Image upload with unchecked attribute setting Mehrfachauswahl and Single file upload does not work"
I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/attribute_file/issu

[2021-04-07 17:35] stu2019 opened #98 "FEE - Deselect file and delete file do not work"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2021-04-07 17:47] zonky2 commented on #98
depends/duplicate of https://github.com/MetaModels/attribute_file/issues/92 ?

[2021-04-07 17:53] stu2019 opened #99 "If the Target Folder is not set the File upload in FEE throws an error"
<img width="960" alt="Bildschirmfoto 2021-04-07 um 19 36 47" src="https://user-images.githubusercontent.com/49641522/113910028-a9a7ab00-97d8-11eb-8cc4-e81e2fb1edc5.png">
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.or

[2021-04-07 17:54] zonky2 commented on #99
please check open issues...

duplicate of https://github.com/MetaModels/attribute_file/issues/93

[2021-04-07 17:54] #99 closed

[2021-04-07 17:57] zonky2 commented on #93
more description see https://github.com/MetaModels/attribute_file/issues/99

[2021-05-14 09:04] zonky2 commented on #56
Add view condition at property by palettes definition

[2021-05-14 09:10] zonky2 commented on #74
wen can change this after release MM 2.2 by transifex

[2021-05-14 12:03] zonky2 commented on #84
Add in MM 2.2

[2021-05-14 12:03] #84 closed

[2021-05-14 12:20] zonky2 commented on #53
Fixed in MM 2.2 with DCG 2.2

[2021-05-14 12:20] #53 closed

[2021-05-17 07:40] zonky2 commented on #63
Current check:

* in the text node all files of a folder are listed - fixed in MM 2.2 for alternative template
* with text and html5 node files are shown twice if folder and file are selected
* Consider adding an option to the render settings so that when you select a folder, the files appear in the raw node - this is the only place where you have access to the metadata. @discordier ?

[2021-05-25 14:10] zonky2 opened #101 "Fehlermeldung bei Dateiauswahl-Popup wenn Dateiresource nicht mehr vorhanden ist"
Wenn eine Resource (Dateien) nicht mehr vorhanden ist und die DBAFS noch nicht gesynct ist, wird beim öffnenen des Popups ein 500 geworfen.

das sollte abgefangen werden und eine Fehlermeldung im Popup oder in der Eingabemaske angezeigt werden - ggf. mit dem Hinweis die Dateien zu syncen

den Ordner "files/projekte/x-alt-projekte" gab es nicht mehr

[code]

[2021-09-15 10:09] k-webdesign opened #103 "Bildauswahl per Ordner zeigt nur bestimmte Bilder, wenn vorher schon mal Bilder gewählt wurden"
## Checklist before I submit this issue report

I confirm that:
- [ ] I have tested this with the latest version available
- [ ] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [ ] I have checked the Contao community forums for references https://community.contao.org/
- [ ] I have checked existing issues for duplicates and found none @ h

[2021-09-15 10:22] k-webdesign opened #104 "Galerie / file: Sortierung in 2.2.0 nicht möglich"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2021-09-16 12:34] zonky2 commented on #104
Ich habe das bei 6 verschiedenene Instaolltionen geprüft - auch eine (relativ) frische... an den Dateien hat sich seit 2019 nichts geändert.... habe mal @MacKP die Links zu den Repos gesendet... müsst ihr mal nachgucken, ob die "vollstädig" sind und wenn ja ob der Install klemmt...

[2022-02-18 12:09] MacKP opened #105 "Files can only downloaded if they are protected"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2022-02-18 17:19] zonky2 commented on #105
fixed in MM 2.2

[2022-02-18 17:19] #105 closed

[2022-02-18 17:19] #104 closed

[2022-04-25 05:22] zonky2 commented on #96
@stu2019 pls check with current MM 2.2 - I cannot understand the error

[2022-04-26 12:42] zonky2 commented on #88
fixed in MM 2.2

[2022-04-26 12:42] #88 closed

[2022-04-26 12:48] #96 closed

[2022-05-04 18:44] zonky2 commented on #103
Bei mir funktioniert das ohne Probleme - sowohl bei vorhanden Items als auch bei frisch angelegten... Bitte vendor/ mal leeren und composer update machen

https://easycaptures.com/fs/uploaded/1524/5508585820.jpg

[2022-05-13 09:38] MiniModel commented on #103
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@k-webdesign could you please have a final look at this and tell if your is

[2022-05-20 11:39] MiniModel commented on #103
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@k-webdesign could you please have a final look at this and tell if your is